
<form
    [formGroup]="bookForm"
    (ngSubmit)="submitBook()">

    <input formControlName="title" placeholder="title" type="text">

    <!-- Author. -->
    <div
        *ngFor="let control of authorListControl.controls">
        <wt-author-form
            [authorFormGroup]="control"></wt-author-form>
    </div>

    <button
        type="button"
        (click)="isFavoriteAuthorSelectorDisplayed = true">SEARCH FAVORITE AUTHOR
    </button>

    <wt-favorite-author-selector
        *ngIf="isFavoriteAuthorSelectorDisplayed"
        (authorSelect)="onAuthorSelect($event)"></wt-favorite-author-selector>

    <div>
        <button
            type="button"
            (click)="addAuthor()">ADD AUTHOR
        </button>
    </div>

    <div>
        <button
            [disabled]="!bookForm.valid"
            type="submit">ADD
        </button>
    </div>

</form>
