<img [src]="logoUri" alt="logo">

<wt-meal-form (mealSubmit)="addMeal($event)"></wt-meal-form>

<div *ngFor="let meal of getMealList(); let last=last">

    <div>{{ meal.name }}</div>

    <wt-more-button
        *ngIf="selectedMeal !== meal"
        [shape]="buttonShapeEnum.circle"
        [shouldTriggerOnHover]="false">

        <button (click)="selectMeal(meal)">EDIT</button>
        <button (click)="removeMeal(meal)">REMOVE</button>

    </wt-more-button>

    <wt-meal-form
        *ngIf="selectedMeal === meal"
        [label]="'SAVE'"
        [meal]="selectedMeal"
        (mealSubmit)="updateMeal($event)"></wt-meal-form>

    <hr *ngIf="!last">

</div>

<wt-meal-form
    *ngIf="getMealList().length > 3"
    (mealSubmit)="addMeal($event)"></wt-meal-form>
