<form
        [formGroup]="searchFormGroup"
        (ngSubmit)="searchBook()">

    <!--<div *ngFor="let controlInfo of controlInfoList">-->
        <!---->
        <!--<ng-container-->
                <!--*ngComponentOutlet="controlInfo.componentClass"-->
                <!--[ngClass]="controlInfo.class"-->
                <!--[control]="controlInfo.control">-->
        <!---->
    <!--</div>-->

    <input
            formControlName="keywords"
            placeholder="Book name"
            type="text">

    <input
            formControlName="author"
            placeholder="Author"
            type="text">

    <button
            type="submit"
            [disabled]="!searchFormGroup.valid">SEARCH</button>

</form>

<div>{{ bookCount$ | async }}</div>

<div *ngFor="let book of bookList$ | async">
    <wt-book-preview [book]="book"></wt-book-preview>
</div>
