<form
    [formGroup]="bookForm"
    (ngSubmit)="addBook()">

    <input
        formControlName="title"
        placeholder="title"
        type="text">

    <input
        formControlName="price"
        placeholder="price"
        type="number">

    <input
        formControlName="authorName"
        placeholder="author"
        type="text">

    <button
        type="submit">ADD</button>

</form>

<div *ngFor="let book of getBookList()">

    <div>{{ book.title }}</div>

    <div *ngIf="book.authorName">
        <div>{{ book.authorName }}</div>
        <img [src]="getAuthorPictureUrl(book.authorName)">
    </div>

    <button
        type="button"
        (click)="removeBook(book)">REMOVE</button>

</div>
