<form
    [formGroup]="bookForm"
    (ngSubmit)="addBook()">

    <!-- Book group. -->
    <div formGroupName="book">

        <input
            formControlName="title"
            placeholder="title"
            type="text">

        <input
            formControlName="price"
            placeholder="price"
            type="number">

    </div>

    <!-- Author group. -->
    <div formGroupName="author">

        <input
            formControlName="name"
            placeholder="author"
            type="text">

    </div>


    <button
        type="submit"
        [disabled]="!bookForm.valid">ADD</button>

    <div *ngIf="bookForm.get('book.title') as titleControl">

        <div *ngIf="titleControl.touched && titleControl.hasError('required')">
            Title is required
        </div>
    </div>

</form>

<div *ngFor="let book of getBookList()">

    <div>{{ book.title }}</div>

    <div *ngIf="book.authorName">
        <div>{{ book.authorName }}</div>
        <img [src]="getAuthorPictureUrl(book.authorName)">
    </div>

    <button
        type="button"
        (click)="removeBook(book)">REMOVE</button>

</div>
