<h1>Say "Jour" or "Nuit"</h1>

<ng-container *ngIf="shouldShowList">

    <wt-book-form
        buttonLabel="ADD"
        (bookSubmit)="addBook($event)"></wt-book-form>

    <hr>

    <div *ngFor="let book of getBookList()">

        <wt-book-preview [book]="book">

            <div data-role="actions">

                <div *ngIf="selectedBook !== book">

                    <button
                        mat-button
                        type="button"
                        (click)="selectBook(book)">EDIT
                    </button>

                    <button
                        color="warn"
                        mat-button
                        type="button"
                        (click)="removeBook(book)">REMOVE
                    </button>

                </div>

                <wt-book-form
                    *ngIf="selectedBook === book"
                    buttonLabel="UPDATE"
                    [book]="selectedBook"
                    (bookSubmit)="replaceBook($event)"></wt-book-form>

            </div>

        </wt-book-preview>

    </div>

</ng-container>