<section>
    <h1>Group</h1>

    <button>ADD</button>

    <div>Count: 3</div>

    <ul>
        <li>
            <span>Foo BAR</span>
            <span>(Gluten Intolerant, Vegan)</span>
            <button>REMOVE</button>
        </li>
        <li>
            <span>John DOE</span>
            <button>REMOVE</button>
        </li>
        <li>
            <span>Foo BAR</span>
            <span>(Vegan)</span>
            <button>REMOVE</button>
        </li>
    </ul>

</section>

<hr>

<section>
    <h1>Summary</h1>
    <ul>
        <li>Gluten Intolerant</li>
        <li>Vegan</li>
    </ul>
</section>
