<section>
    <h1>Group</h1>

    <button (click)="addPerson()">ADD</button>

    <div>Count: {{ getPersonCount() }}</div>

    <div *ngFor="let person of getPersonList()">

        <h2>
            <span>{{ person.firstName}}</span>
            <span>{{ person.lastName}}</span>
        </h2>

        <img
            [src]="'https://robohash.org/' + person.firstName"
            [alt]="person.firstName">

        <div>
            <span *ngFor="let constraint of person.foodConstraintList">
                {{ constraint }}
            </span>
        </div>

        <button (click)="removePerson(person)">REMOVE</button>

    </div>

</section>

<hr>

<section>
    <h1>Summary</h1>
    <div *ngFor="let constraint of getGroupConstraintList()">
        {{ constraint }}
    </div>
</section>
