<form
        [formGroup]="userForm"
        (ngSubmit)="addUser()">

    <input
            *ngFor="let control of getControlList()"
            [formControl]="control"
            type="text">

    <!--<div *ngFor="let input of inputList">-->
        <!---->
        <!--<ng-container-->
                <!--*ngComponentOutlet="getComponentClass(input)"-->
                <!--[control]="input.control"-->
        <!--&gt;</ng-container>-->
        <!---->
    <!--</div>-->

    <button
            [disabled]="!userForm.valid"
            type="submit">ADD</button>

</form>

<div *ngIf="false">{{ firstName$ | async }}</div>

<div *ngFor="let user of userList$ | async">
    {{ user.firstName }}
</div>
