<form
        [formGroup]="userForm"
        (ngSubmit)="submitUser()">

    <input
            formControlName="firstName"
            type="text">

    <input
            formControlName="lastName"
            type="text">

    <button
            [disabled]="!userForm.valid"
            type="submit">ADD</button>

    <div *ngIf="userForm.controls.firstName as firstNameControl">
        <div *ngIf="firstNameControl.touched && firstNameControl.errors">
            {{ firstNameControl.errors | json }}
        </div>
    </div>

</form>