<form
        [formGroup]="form"
        (ngSubmit)="addUser()">

    <ng-content select=".wt-form__header"></ng-content>

    <span
            *ngFor="let control of getControlList()">
        <input
                [formControl]="control"
                type="text">
        <div *ngIf="control.touched && control.errors">
            {{ control.errors | json }}
        </div>
    </span>

    <button
            [disabled]="!form.valid"
            type="submit">{{ buttonLabel }}
    </button>

    <ng-content select=".wt-form__footer"></ng-content>

</form>