<form
    [formGroup]="userForm"
    (ngSubmit)="submitUser()">

    <input
        formControlName="firstName"
        type="text">

    <input
        formControlName="lastName"
        type="text">

    <div>

        <button
            color="warn"
            mat-button
            type="button"
            (click)="onCancel()">CANCEL</button>

        <button
            color="primary"
            mat-raised-button
            type="submit">{{ buttonLabel }}</button>

    </div>


</form>
