<form
    [formGroup]="userForm"
    (ngSubmit)="submitUser()">

  <input formControlName="firstName" type="text">

  <input formControlName="lastName" type="text">

  <button
      type="submit"
      [disabled]="!userForm.valid">ADD</button>

  <button type="button" (click)="addAddress()">ADD ADDRESS</button>

  <div
      *ngFor="let addressGroup of addressControlList.controls"
      [formGroup]="addressGroup">
    <input formControlName="street" type="text">
    <input formControlName="city" type="text">
  </div>

</form>

