<form>

    <input placeholder="title" type="text">
    <input placeholder="price" type="number">
    <input placeholder="authorName" type="text">

    <button type="submit">ADD</button>

</form>

<hr>

<div>
    <h2>Book 1 (price:10)</h2>
    <img src="https://robohash.org/123">
    <div>author...</div>
    <div>
        <button>REMOVE</button>
    </div>
</div>

<hr>

<div>
    <h2>Book 1 (price:10)</h2>
    <img src="https://robohash.org/123">
    <div>author...</div>
    <div>
        <button>REMOVE</button>
    </div>
</div>