<form
        [formGroup]="addressFormGroup"
        (ngSubmit)="submitAddress()">

    <input
            formControlName="street"
            type="text">

    <input
            formControlName="city"
            type="text">

    <button type="submit">SUBMIT</button>

</form>

<div *ngIf="address">
    <span>Address: </span>
    <span>{{ address.street }}</span>
    <span>{{ address.city }}</span>
</div>

<div>
    {{ addressFormGroup.controls['street'].errors | json }}
</div>

<h2>
    <span>Hello</span>
    <span>{{ userName }}</span>
    <span>({{ userName.length }})</span>
</h2>

<button
        [disabled]="!canReset()"
        (click)="reset()">RESET</button>

<div *ngIf="!canReset()">You can't reset.</div>

<ul>
    <li *ngFor="let value of [1, 2, 3]">
        {{ value }}
    </li>
</ul>