<form (ngSubmit)="addCity()">
    <input
        name="city"
        placeholder="city"
        type="text"
        [(ngModel)]="city">
    <button type="submit">ADD</button>
</form>

<div>
    <span>{{ title }}</span>
    <span>&nbsp;</span>
    <span>({{ title.length }})</span>
</div>

<button
    *ngIf="isResetEnabled()"
    [class.wt-red]="!isResetEnabled()"
    [disabled]="!isResetEnabled()"
    (click)="title = ''">RESET
</button>

<button (click)="addCity()">ADD CITY</button>

<ul>
    <li *ngFor="let city of cityList">
        {{ city }}
    </li>
</ul>
