
<wt-user-form-reactive
        (userSubmit)="addUser($event)"></wt-user-form-reactive>

<wt-user-preview
        *ngFor="let user of getUserList()"
        [user]="user">

    <div
            *ngIf="editedUser !== user">

        <button
                type="button"
                (click)="editUser(user)">EDIT</button>

        <button
                type="button"
                (click)="removeUser(user)">REMOVE</button>

    </div>


    <wt-user-form-reactive
            *ngIf="editedUser === user"
            [buttonLabel]="'UPDATE'"
            [user]="editedUser"
            (userSubmit)="updateEditedUser($event)"></wt-user-form-reactive>

</wt-user-preview>
