<form
    novalidate
    [formGroup]="sandwichForm"
    (ngSubmit)="onSubmit()">

    <mat-card class="sandwich-form-card">

        <mat-card-header>
            <mat-card-title>Sandwich</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <!-- Sandwich name. -->
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>
            </div>

            <!-- Sandwich constraints. -->
            <mat-form-field>
                <mat-select placeholder="Constraints" formControlName="constraintList" multiple>
                    <mat-option
                        *ngFor="let constraint of constraintList"
                        [value]="constraint">{{ constraint | titlecase }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="sandwichForm.hasError('sandwichConstraints', 'constraintList')">
                {{ sandwichForm.getError('sandwichConstraints', 'constraintList').message }}
            </div>


        </mat-card-content>

        <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!sandwichForm.valid">Submit
            </button>
        </mat-card-actions>

    </mat-card>
</form>
