<form *ngIf="user" (ngSubmit)="addUser()">

  <input
          [(ngModel)]="user.firstName"
          class="wt-important"
          name="firstName"
          type="text">

  <input
          [(ngModel)]="user.lastName"
          class="wt-optional"
          name="lastName"
          type="text">

  <input
          [(ngModel)]="user.email"
          class="wt-optional"
          name="email"
          type="text">

  <button
          *ngIf="isResetButtonDisplayed"
          (click)="reset()"
          type="button">RESET</button>

  <button type="submit">{{ buttonLabel }}</button>

</form>