<form
    (ngSubmit)="submit()"
    [formGroup]="bookForm">

    <mat-form-field>
        <input
            formControlName="title"
            matInput
            placeholder="title"
            type="text">
    </mat-form-field>

    <mat-form-field>
        <input
            formControlName="authorName"
            matInput
            placeholder="author"
            type="text">
    </mat-form-field>

    <button mat-raised-button type="submit">{{ buttonLabel || 'SUBMIT' }}</button>

</form>
