<wt-user-form
        (userSubmit)="addUser($event)"></wt-user-form>

<div *ngFor="let user of userList$ | async; let userIndex = index">

    <wt-user-preview [user]="user"></wt-user-preview>

    <div *ngIf="editedUser !== user">

        <a [routerLink]="['/users', userIndex]">
            <button type="button">DETAIL</button>
        </a>

        <button
                type="button"
                (click)="editUser(user)">EDIT</button>

        <button
                type="button"
                (click)="removeUser(user)">REMOVE</button>

    </div>

    <wt-user-form
            *ngIf="editedUser === user"
            [buttonLabel]="'UPDATE'"
            [user]="editedUser"
            (userSubmit)="updateUser($event)"></wt-user-form>

</div>

