$picture-diameter: 100px;

:host {
    text-align: center;
}

img {
    background-color: aqua;
    border-style: solid;
    border-radius: $picture-diameter / 2;
    border-width: 1px;
    height: $picture-diameter;
}