<form
  [formGroup]="searchForm"
  (change)="search()"
  (ngSubmit)="search()">

  <input formControlName="keywords" type="text"/>

  <select formControlName="language">
    <option [value]="Language.Fr">🇫🇷</option>
    <option [value]="Language.En">🇬🇧</option>
  </select>

  <div>
    <span>Order by:</span>
    <input
      formControlName="orderBy"
      type="radio"
      [value]="OrderBy.Newest"><label>Newest</label>
    <input
      formControlName="orderBy"
      type="radio"
      [value]="OrderBy.Relevance"><label>Relevance</label>
  </div>

  <button type="submit" [disabled]="!searchForm.valid">SEARCH</button>

</form>

<button (click)="isDisplayed = !isDisplayed">TOGGLE</button>

<div *ngIf="isDisplayed">
  <ng-container *ngFor="let book of books$ | async; let last=last;">
    <ag-book-card [book]="book"></ag-book-card>
    <hr *ngIf="!last">
  </ng-container>

</div>

