<form [formGroup]="itemFormGroup" (ngSubmit)="addItem()">

  <input formControlName="title" type="text">

  <input formControlName="price" type="number">

  <button type="submit" [disabled]="!itemFormGroup.valid">ADD</button>

</form>


<ul>
  <li *ngFor="let item of getItemList(); let last=last">
    <span>{{ item.title }}</span>
    <span>&nbsp;</span>
    <span>({{ item.price | currency }})</span>
    <button (click)="removeItem(item)">REMOVE</button>
    <hr *ngIf="!last">
  </li>

</ul>

<div>Total price: {{ getTotalPrice() | currency }}</div>
