<form (submit)="addSandwich({event : $event, title : title.value, priceString : price.value})">
    <input #title placeholder="title" type="text">
    <input #price placeholder="price" type="number">
    <button type="submit">ADD</button>
</form>

<hr>

<div *ngIf="isCartEmpty()">NO ITEMS!</div>

<ul>
    <li *ngFor="let sandwich of getSandwichList()">
        <span>{{ sandwich.title }} ({{ sandwich.price | currency:'EUR' }})</span>
        <button (click)="removeSandwich(sandwich)">REMOVE</button>
    </li>
</ul>

<div *ngIf="!isCartEmpty()">Total: {{ getTotalPrice() }}</div>
