:host {
    display: block;
    padding-top: 50px;
    text-align: center;
}

img {
    width: 100px;
    background-color: crimson;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
}
