<form
    [formGroup]="candidateForm"
    (ngSubmit)="submitCandidate()">

    <mat-form-field>
        <input formControlName="firstName" placeholder="First Name" type="text" matInput>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="lastName" placeholder="Last Name" type="text" matInput>
    </mat-form-field>

    <div
        *ngFor="let control of skillListFormArray.controls"
        [formGroup]="control">

        <mat-form-field>
            <input formControlName="name" placeholder="Skill" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="level" placeholder="Level" type="number" matInput>
        </mat-form-field>

    </div>

    <button
        mat-button
        type="button"
        [disabled]="!skillListFormArray.valid"
        (click)="addSkill()">ADD SKILL
    </button>

    <button
        mat-raised-button
        type="submit"
        [disabled]="!candidateForm.valid">SUBMIT
    </button>

</form>
