<form
    [formGroup]="candidateForm"
    (ngSubmit)="submitCandidate()">

    <mat-form-field>
        <input formControlName="firstName" placeholder="First Name" type="text" matInput>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="lastName" placeholder="Last Name" type="text" matInput>
    </mat-form-field>

    <wt-skill-form (skillSubmit)="addSkill($event)"></wt-skill-form>

    <wt-skill-list [skillList]="skillList"></wt-skill-list>

    <button mat-raised-button type="submit">SUBMIT</button>

</form>
