<mat-card>

    <mat-card-header>
        <mat-card-title>
            <a [routerLink]="['/book', 'detail', book.id]">{{ book.title }}</a>
        </mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
    </mat-card-header>

    <img
            *ngIf="book.pictureUrl"
            mat-card-image
            [src]="book.pictureUrl"
            [alt]="book.title">

    <mat-card-content>
        <p>...</p>
    </mat-card-content>

    <mat-card-actions>
        <button
                mat-button
                (click)="buy()">BUY</button>
    </mat-card-actions>

</mat-card>