@import "./circle";

:host {
    border-style: solid;
    display: block;
}

.wt-author__picture {

    background-color: darksalmon;
    border-style: solid;
    border-width: 1px;

    @include wt-circle(100px);

}
