<div>
    <button disabled>Foo B.</button>
    <button>John D.</button>
</div>

<div>

    <div>
        <img src="http://robohash.org/foo" alt="">
    </div>

    <div>
        <span>Foo</span>
        <span>BAR</span>
    </div>

</div>

<div>#########################</div>

<h1>

    <span>Hello</span>
    <span>({{ name.length }})</span>
    <span>{{ name }}</span>

</h1>

<button
        *ngIf="!isStarted()"
        (click)="start()">START</button>

<button
        *ngIf="isStarted()"
        (click)="stop()">STOP</button>
