<wt-book-list></wt-book-list>
<!--<div [ngStyle]="selectedTheme">-->

    <!--<button-->
            <!--*ngFor="let theme of themeList; let index = index"-->
            <!--(click)="selectTheme(theme)">THEME {{ index }}</button>-->

    <!--<h1>{{ title }}</h1>-->

    <!--<button-->
            <!--[disabled]="!canResetTitle()"-->
            <!--(click)="resetEverything()">RESET</button>-->

    <!--<div *ngIf="canResetTitle()">YEAY! You can reset!</div>-->

    <!--<ul>-->
        <!--<li *ngFor="let message of messageList">-->
            <!--{{ message }}-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->