$image-diameter: 50px;

:host {
    text-align: center;
}

img {
    background-color: #e51c23;
    height: $image-diameter;
    width: $image-diameter;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}
