.book-search-form__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book-search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vertical-radio-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.book-card {
  margin: 10px;
}
