<h1>Search</h1>

<mc-book-search-form
  [query]="query$ | async"
  (queryChange)="search($event)"></mc-book-search-form>

<mc-book-search-history
  [history]="history$ | async"
  (search)="search($event)"></mc-book-search-history>

<hr>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
  <mc-book-card
    *ngFor="let book of books$ | async"
    class="book-card"
    [book]="book">XXXX
  </mc-book-card>
</div>

<mc-book-search-form
  *ngIf="books$ | async"
  [query]="query$ | async"
  (queryChange)="search($event)"></mc-book-search-form>
