<wt-candidate-form
    buttonLabel="ADD"
    (candidateSubmit)="addCandidate($event)"></wt-candidate-form>

<ng-container *ngFor="let candidate of getCandidateList(); let last=last">

    <wt-candidate-card [candidate]="candidate">

        <!-- Projected content. -->
        <div *ngIf="editedCandidate !== candidate">

            <button
                mat-button
                color="accent"
                (click)="editCandidate(candidate)">EDIT
            </button>

            <button
                mat-button
                color="warn"
                (click)="removeCandidate(candidate)">REMOVE
            </button>

        </div>

        <wt-candidate-form
            *ngIf="editedCandidate === candidate"
            buttonLabel="SAVE"
            [candidate]="editedCandidate"
            (candidateSubmit)="updateCandidate($event)"></wt-candidate-form>

    </wt-candidate-card>

    <hr *ngIf="!last">

</ng-container>
