<header>

    <button
        *ngIf="!(isSignedIn$ | async)"
        (click)="signIn()">SIGN IN
    </button>

    <button
        *ngIf="isSignedIn$ | async"
        (click)="signOut()">SIGN OUT
    </button>

    <div>Price: {{ totalPrice$ | async | currency:'EUR' }}</div>

</header>

<!--<input [formControl]="keywordsControl" type="text">-->

<!--<wt-form-demo-->
<!--(userSubmit)="logUser($event)"-->
<!--[buttonLabel]="'ADD'"></wt-form-demo>-->

<!--<hr>-->

<!--<h1 [style.fontSize.px]="title.length % 10">{{ title }}</h1>-->

<!--<button-->
<!--[hidden]="title.length < 10"-->
<!--(click)="reset()">RESET-->
<!--</button>-->

<!--<div *ngIf="true">YEAY!</div>-->

<!--<li *ngFor="let city of cityList">-->
<!--{{ city }}-->
<!--</li>-->