<h1 [style.fontSize.px]="title.length">Hello {{ title }} ({{ title.length }})</h1>

<img [src]="getPictureUri()" alt="">

<button
    [disabled]="!canReset()"
    (click)="reset()">RESET
</button>

<wt-city-preview
    *ngFor="let city of cityList"
    [city]="city"
    (cityVote)="onCityVote(city, $event)"></wt-city-preview>

<form
    [formGroup]="cityForm"
    (ngSubmit)="submit()">

    <input formControlName="city" type="text">

    <input formControlName="score" type="number">

    <button type="submit">ADD</button>

</form>
