<wt-user-form
    (userSubmit)="addUser($event)"></wt-user-form>


<wt-user-preview
    *ngFor="let user of getUserList()"
    [user]="user">

    <ng-container *ngIf="selectedUser !== user">

        <button (click)="selectUser(user)">EDIT</button>

        <button (click)="removeUser(user)">REMOVE</button>

    </ng-container>

    <wt-user-form
        *ngIf="selectedUser === user"
        [buttonLabel]="'UPDATE'"
        [user]="selectedUser"
        (userSubmit)="updateUser($event)"></wt-user-form>

</wt-user-preview>
