<div class="grid-container">

    <mat-grid-list cols="2" rowHeight="350px">

        <mat-grid-tile *ngFor="let book of bookList">
            <mat-card class="dashboard-card">

                <mat-card-header>

                    <mat-card-title>

                        <span>{{ book.title }}</span>

                        <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu" xPosition="before">

                            <button
                                (click)="addToCart(book)"
                                *ngIf="canAddToCart"
                                mat-menu-item>Add to Cart
                            </button>

                            <button
                                (click)="removeBook(book)"
                                *ngIf="canRemove"
                                mat-menu-item>Remove
                            </button>

                        </mat-menu>

                    </mat-card-title>

                </mat-card-header>

                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

</div>
