<wt-sandwich-form (sandwichSubmit)="addSandwich($event)"></wt-sandwich-form>

<div
    *ngFor="let sandwich of getSandwichList(); let even=even">

    <wt-sandwich-preview
        class="wt-border"
        [class.wt-even]="even"
        [sandwich]="sandwich">

        <button (click)="removeSandwich(sandwich)">REMOVE</button>

    </wt-sandwich-preview>

</div>

<ng-container *ngIf="!isEmpty()">

    <hr>

    <div>
        Total Price: {{ getTotalPrice() | currency:'EUR' }}
    </div>

</ng-container>

