<form (ngSubmit)="addSandwich()">

    <input
        name="title"
        placeholder="title"
        type="text"
        [(ngModel)]="sandwich.title">

    <input
        name="price"
        placeholder="price"
        type="number"
        [(ngModel)]="sandwich.price">

    <button type="submit">ADD SANDWICH</button>

</form>

<div *ngFor="let sandwich of getSandwichList()">
    <span>{{ sandwich.title }}</span>
    <span>{{ sandwich.price | currency:'EUR' }}</span>
    <button
        type="button"
        (click)="removeSandwich(sandwich)">REMOVE
    </button>
</div>
