<form
    [formGroup]="skillForm"
    (ngSubmit)="submitSkill()">

    <mat-form-field>
        <input
            formControlName="name"
            matInput
            placeholder="Name"
            type="text">
    </mat-form-field>

    <mat-form-field>
        <input
            formControlName="level"
            matInput
            placeholder="Level"
            type="number">
    </mat-form-field>

    <button
        mat-raised-button
        type="submit"
        [disabled]="!skillForm.valid">ADD SKILL
    </button>

</form>

<ul *ngIf="!skillForm.valid">
    <!-- Name errors. -->
    <li *ngIf="nameControl.touched && nameControl.hasError('required')">
        Name is required.
    </li>

    <!-- Level errors. -->
    <li *ngIf="skillForm.getError('max', 'level') as error">
        <span *ngIf="error.actual > error.max && error.actual <= 5 * error.max">Really!?</span>
        <span *ngIf="error.actual > 5 * error.max">Seriously!!!!????? 😱</span>
    </li>
</ul>
