<form
    [formGroup]="skillFormGroup">

    <mat-form-field>
        <input
            formControlName="name"
            matInput
            placeholder="Name"
            type="text">
    </mat-form-field>

    <mat-form-field>
        <input
            formControlName="level"
            matInput
            placeholder="Level"
            type="number">
    </mat-form-field>

</form>

<ul *ngIf="!skillFormGroup.valid">
    <!-- Name errors. -->
    <li *ngIf="nameControl.touched && nameControl.hasError('required')">
        Name is required.
    </li>

    <!-- Level errors. -->
    <li *ngIf="skillFormGroup.getError('max', 'level') as error">
        <span *ngIf="error.actual > error.max && error.actual <= 5 * error.max">Really!?</span>
        <span *ngIf="error.actual > 5 * error.max">Seriously!!!!????? 😱</span>
    </li>
</ul>
