<mat-card class="wt-sandwich-card">
    <mat-card-header>
        <mat-card-title>{{ sandwich.title }}</mat-card-title>
        <mat-card-subtitle>
            <span *ngIf="shouldShowPrice()">({{ sandwich.price | currency:'EUR' }})</span>
        </mat-card-subtitle>
    </mat-card-header>
    <img
        class="wt-sandwich-picture"
        mat-card-image [src]="'https://source.unsplash.com/featured?sandwich;' + sandwich.id">
    <mat-card-content>
        <p>

        </p>
    </mat-card-content>
    <mat-card-actions>
        <ng-content></ng-content>
    </mat-card-actions>
</mat-card>
