<div *ngFor="let sandwich of sandwichList">
  <wt-sandwich-preview [sandwich]="sandwich">

    <button
      *ngIf="sandwich !== selectedSandwich"
      type="button"
      (click)="selectSandwich(sandwich)">EDIT
    </button>

    <button
      type="button"
      (click)="removeSandwich(sandwich)">REMOVE
    </button>

    <wt-sandwich-form
      *ngIf="sandwich === selectedSandwich"
      buttonLabel="SAVE"
      [sandwich]="sandwich"
      (sandwichSubmit)="replaceSandwich(sandwich, $event)"></wt-sandwich-form>

  </wt-sandwich-preview>
</div>
