/* You can add global styles to this file, and also import other style files */

@import './ng-bootstrap-a-love-story';

body {
    background-color: azure;
    text-align: center;
}

.wt-important {
    font-style: italic;
}