/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


//input {
//    color: red;
//}
//
//h2 {
//    color: orange;
//}
//
//.theme-2 {
//    input {
//        color: orange;
//    }
//
//    h2 {
//        color: red;
//    }
//
//}