<mat-list>

    <ng-container *ngFor="let book of bookList">

        <mat-list-item class="wt-book-list-item">

            <img
                *ngIf="book.pictureUri"
                class="wt-book-list-item__picture"
                matListAvatar
                [alt]="book.title"
                [src]="book.pictureUri">

            <h3 matLine>{{ book.title }}</h3>

            <div matLine>
                <div *ngIf="book.authorName">by {{ book.authorName }}</div>
                <div>
                    <button
                        *ngIf="canBuy"
                        mat-button
                        color="primary"
                        (click)="buy(book)">🛒 BUY
                    </button>
                    <button
                        *ngIf="canRemove"
                        mat-button
                        color="warn"
                        (click)="remove(book)">🗑️ REMOVE
                    </button>
                </div>
            </div>

        </mat-list-item>

        <mat-divider></mat-divider>

    </ng-container>

</mat-list>
