<wt-book-preview
    *ngFor="let book of bookList"
    [book]="book">

    <wt-book-form
        (bookSubmit)="bookSubmit.emit($event)"
        *ngIf="editedBook === book"
        [book]="editedBook"
        buttonLabel="SAVE"></wt-book-form>

    <ng-container *ngIf="editedBook !== book">

        <button (click)="editBook(book)">EDIT</button>

        <!-- Button is displayed inside book preview thanks to content projection -->
        <!-- and using <ng-content>. -->
        <button (click)="removeBook(book)">REMOVE</button>

    </ng-container>

</wt-book-preview>
